:root {
    --primary-color: #49C8F3;
    --secondary-color: #05668D;
    --accent-color: #F4D35E;
    --neutral-light-color: #F6F7EB;
    --neutral-dark-color: #2C2C2C;
    --highlight-color: #EE964B;
}

* {
    padding: 0;
    margin: 0;
}
header,
footer {
    background-color: var(--neutral-dark-color);
    width: 100%;
    color: aliceblue;
}

header {
    display: block;
    unicode-bidi: isolate;
}

.header-top {
    display: flex;
    background-color: var(--neutral-dark-color);
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.ComName {
    display: flex;
    flex-direction: column;
}

.header-top-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}


.header-top-right {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-right: 20px;
    gap: 10px;
    align-items: center;
}

h1 {
    font-size: 60px;
}

h1 {

    margin: 0px;
}

h2 {
    
    font-size: small;
    font-family: PT Sans;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    justify-content: end;
}

.menu a {
    color: white;
    text-decoration: none;
}

.container img {
    width: 100px;
    padding: 10px;
}

.menu a:hover {
    color: var(--yellow);
}

.menu a.active {
    background-color: var(--secondary-color);
    color: yellow;
    font-weight: bold;
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-items: center;
    padding: 1rem;
    justify-items: end;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;

}


.view-toggle {
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #bed;
    text-align: center;
}

.view-toggle button {
    padding: 1rem;
    font-weight: 700;
}

h3 {
    color: var(--secondary-color);
    margin-left: 2rem;
}

.grid {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

.grid h3 {
    font-family: "Caveat", cursive;
    color: rgba(196, 10, 10, 0.719);
}

.member-card {
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #bed;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0;
    padding: 0.25rem;
    align-items: end;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
    /* smaller viewports only */
}

.list section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
    background-color: rgb(220, 233, 229);
}


section p {
    font-weight: 600;
    font-size: smaller;
}

section a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
}

img {
    height: 75px;
    max-width: 100%;
    /* Images are jerks - Seattle*/
}

header .hamburger {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}
.weatherInfo {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1rem;
    background: #f3f4f6;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    text-align: center;
    
}

.weather {
    background: #f3f4f6;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    text-align: center;
}

.weather h2,
.weather h3 {
    margin: 0.5em 0;
}

.weather ul {
    list-style: none;
    padding: 0;
}


footer {
    text-align: center;
    padding: 1rem;
    color: #fff;
}

footer a {
    color: #f68b33;
    text-decoration: none;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.sociallinks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.sociallinks img {
    width: 30px;
}

/* Responsive Styling */
@media (max-width: 600px) {
    .header-top-left img {
        width: 49px;
        height: auto;
    }

    .header-top-right {
        align-items: center;
    }

    header .hamburger {
        display: block;
        color: #fff;
        border: none;
        padding: 0px;
        cursor: pointer;
    }
    

    h1 {
        font-size: 1.5rem;
    }


    .menu {
        display: none;
    }

    nav .menu {
        display: none;
        flex-direction: column;
    }

    nav .menu.open {
        display: flex;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}