@media (min-width: 740px) and (max-width:900px) {
    nav a:hover {
        background-color: #ddd;
        border-radius: 5px;
      }
    
        nav .hamburger {
            display: none;
        }
    
       
    
        nav .menu a {
            margin: 0 1em;
        }
        .weatherInfo{
            grid-template-columns:repeat(2, 1fr);
        }
    }  