:root {
    --blue: rgb(29, 77, 114);
    --blue-1: rgb(29, 77, 114, 0.1);
    --blue-7: rgb(29, 77, 114, 0.7);
    --blue-9: rgb(29, 77, 114, 0.9);
    --brown: rgb(100, 50, 0, 1);
    --yellow: rgb(255, 255, 0, 1);
    --bord: 1px solid rgb(0, 0, 0, 0.1)
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 100%;
}

header {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

h1 {
    color: #fff;
    margin: 40px;
    margin-left: 1rem;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    text-align: center;

}

.menu a:hover {
    color: var(--secondary-color);
}

.menu a.active {
    background-color: var(--secondary-color);
    color: yellow;
    font-weight: bold;
    border-radius: 5px;
}

nav {
    background-color: black;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}



.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: white;
}

h2 {
    background-color: var(--blue-9);
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
p{
    margin: 1rem;
    color: #fff;
    padding: 1rem;
    background-color: var(--brown);
    border-radius: 10px;

}

.info-section,
.Location {
    background-color: #e8e8e8;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;

}

.certificate-section {
    background-color: #e8e8e8;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 1rem;
    width: 100%;
}

.course-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem 0;
}
/* Style for completed courses */
.course-card.completed {
    background-color: rgb(82, 75, 75); 
    color: white;
}


.filter-buttons button {
    background-color: #1d3557;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.filter-buttons button:hover {
    background-color: #457b9d;
}

.course-card {
    background-color: #a56c55;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

header .hamburger {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    font-style: italic;
    margin-top: 5px;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

#lastModified {
    font-style: italic;
}

/* Responsive Styling */
@media (max-width: 600px) {
    header {
        flex-direction: row;
        text-align: center;
        display: flex;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .info-section {
        flex-direction: column;
        gap: 0;
    }

    .info-box {
        width: 90%;
        margin-bottom: 1rem;
    }

    .course-grid {
        grid-template-columns: 1fr;
    }

    .filter-buttons button {
        width: 30%;
        padding: 0.5rem;
    }

    header {
        display: flex;
    }

    header .hamburger {
        display: block;
    }

    nav .menu {
        display: none;
        flex-direction: column;
    }

    nav .menu.open {
        display: flex;
    }
}